USE [44П-Иконникова-Экзамен]
GO
/****** Object:  Table [dbo].[Книги]    Script Date: 18.04.2022 13:38:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Книги](
	[id] [int] IDENTITY(12,1) NOT NULL,
	[Название] [varchar](50) NULL,
	[Жанр] [varchar](50) NULL,
	[Автор] [varchar](50) NULL,
	[Кол-во в магазине] [int] NULL,
	[Количество на складе] [int] NULL,
	[Описание] [varchar](max) NULL,
	[Обложка] [nvarchar](255) NULL,
	[Цена] [float] NULL,
 CONSTRAINT [PK_Книги] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Книги] ON 

SET IDENTITY_INSERT [dbo].[Книги] OFF
GO
